<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menú Almacen de la Cerveza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainmenulayout.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body class="bg-dark text-light">
    <header class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 text-center">
                <img src="../static/img/almacendecervezaslogo.png" width="500" height="250" alt="Logo">
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row text-center">

            <div class="col-12 col-md-6 col-lg-3">
                <!--<a class="navbar-brand" href="/mobile_food">-->
                <a class="navbar-brand" href="{{ url_for('mobile_food.mobile_food', table_num=table_num) }}">
                    <img src="../static/img/burguer.png" width="150" alt="Comidas">
                </a>
                <h3>Menú Comidas</h3>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <a class="navbar-brand" href="{{ url_for('mobile_drink.mobile_drink', table_num=table_num) }}">
                    <img src="../static/img/drink.png" width="150" alt="Bebidas">
                </a>
                <h3>Menú Bebidas</h3>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <a class="navbar-brand" href="/mobile_cart">
                    <img src="../static/img/cart.png" width="150" alt="Carrito">
                </a>
                <h3>Carrito</h3>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                    <img src="../static/img/bill.png" width="150" alt="Cuenta">
                    <button class="btn btn-danger" onclick="confirmCloseOrder()"><h4>Pedir Cuenta</h4></button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmCloseOrderModal" tabindex="-1" aria-labelledby="confirmCloseOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmCloseOrderModalLabel" style="color: black">Pedir Cuenta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="color: black">
                    ¿Desea cerrar la orden y pedir la cuenta?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="closeOrder()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const table_number = urlParams.get('table_num');
    localStorage.setItem('table_number', table_number);
    // Imprime el valor en la consola
    console.log(table_number);

    function confirmCloseOrder() {
        $('#confirmCloseOrderModal').modal('show');
    }

    function closeOrder() {
        // Hacer una solicitud al servidor Flask para cerrar la orden
        fetch('/mobile_index/close_order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({
                'table_number': localStorage.getItem('table_number'),
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('La cuenta se cerró exitosamente.');
                window.location.reload(); // Recargar la página después de cerrar la cuenta
            } else {
                alert('Error al cerrar la cuenta: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al cerrar la cuenta. Por favor, inténtelo de nuevo.');
        })
        .finally(() => {
            $('#confirmCloseOrderModal').modal('hide');
        });
    }
</script>

</html>
