<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tables</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-pvL5YnZSbCrld8p7atCq2JXb1b8FvReUtXWIdA0MZ1KbW/GS0+LZw+5yTGJjkqSsDfSxpvjJGqlF9ryetZ3eRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<style>
    body.dark-background {
        background-color: #333333 !important;
        color: #ffffff !important;
    }

    table.dark-table {
        background-color: #333333 !important;
    }

    table.dark-table td {
        color: #000000 !important;
    }
</style>


</head>
<body class="bg-dark text-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                            Navegación
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/orders">Pedidos</a></li>
                            <li><a class="dropdown-item" href="/articles">Artículos</a></li>
                            <li><a class="dropdown-item" href="/qrcodes">Códigos QR</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row mb-3">
            <div class="col d-flex align-items-center">
                <h1 class="center">Mesas</h1>
            </div>
            <div class="col-auto">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="../static/img/home.png" width="150">
                </a>
            </div>
        </div>
    </div>
<!--  ESTE BLOQUE SE USA PARA PODER MOSTRAR UN MENSAJE EN CASO DE QUE SE DETECTE UNA INSERCIÓN DE UN ARTICULO CON UN NOMBRE YA EXISTENTE O DE UNA INSERCIÓN EXITOSA    -->
    <div class="container">
        <div class="card">
            <div class="card-body">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info">
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                {% endif %}
                {% endwith %}

<!-- BLOQUE DE CREACIÓN  -->
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form action="{{ url_for('tables.create_tables') }}" method="POST" class="bg-dark text-light">
                    <div class="row mb-3">
                        <div class="col bg-dark">
                            <b><label>Número de Mesa</label></b>
                            <input type="text" class="form-control mb-3" autocomplete="off" placeholder="Insert Number" name="table_num" id="table_num" required>
                        </div>

                        <div class="col bg-dark">
                            <button class="btn btn-success mb-3 mt-4" type="submit" onclick="confirm('CREAR MESA?')">Guardar Mesa</button>
                            <button class="btn btn-danger mb-3 mt-4" type="button" onclick="clearFields(); alert('INSERCIÓN CANCELADA!');">Cancelar</button>
                        </div>
                        
                    </div>

                </form>


<!-- FILTROS 
            <div class="row mb-3">
                <div class="col">
                    <b><label>Filtrar Numero de Mesa</label></b>
                    <input type="text" class="form-control" id="filterNumber" name="filterNumber">
                </div>
                <div class="col">
                    <button class="btn btn-primary mt-4" onclick="applyFilters()">Search</button>
                </div>
            </div>  -->              


<!-- TABLA -->
    <!-- Display existing tables -->
    <table class="table table-bordered table-dark" id="qrtableTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Numero de Mesa</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
            <tr>
                <th>{{ table.id_table }}</th>
                <td>{{ table.table_num }}</td>
                <td>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" data-table-id="{{ table.id_table }}" data-available="{{ table.available }}">
                        EDITAR
                    </a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- TABLA MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">EDITAR DATOS DE LA MESA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" id="editTableId" value="">
                    <div class="mb-3">
                        <label for="editTableNum" class="form-label">NÚMERO DE MESA:</label>
                        <input type="number" class="form-control" id="editTableNum">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="saveTableDetails()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

    <script>
        function clearFields() {
            document.getElementById("table_num").value = "";
        }
    </script>

<script>
    function applyFilters() {
        var filterNumber = document.getElementById("filterNumber").value.toLowerCase();
        var tableRows = document.getElementById("qrtableTable").getElementsByTagName("tbody")[0].getElementsByTagName("tr");

        for (var i = 0; i < tableRows.length; i++) {
            var availabilityCell = tableRows[i].getElementsByTagName("td")[1];
            var number = tableRows[i].getElementsByTagName("td")[1].textContent.toLowerCase();
            
            var numberRegex = new RegExp(filterNumber.replace(/[-/\\^$*+?.()|[\]{}]/g, '\\$&'), 'iu');

            if (number.match(numberRegex)){
                tableRows[i].style.display = "";
            } else {
                tableRows[i].style.display = "none";
            }
            }
        }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var editModals = document.querySelectorAll('.btn[data-bs-toggle="modal"]');
        editModals.forEach(function (editModal) {
            editModal.addEventListener('click', function (event) {
                var tableId = event.target.getAttribute('data-table-id');
                var tableNum = event.target.getAttribute('data-table-num');
    
                document.querySelector('#editTableId').value = tableId;
                document.querySelector('#editTableNum').value = tableNum;
            });
        });
    });
    
    // Function to save changes in modal
    function saveTableDetails() {
        var tableId = document.querySelector('#editTableId').value;
        var newTableNum = document.querySelector('#editTableNum').value;
    
        fetch(`/tables/edit/${tableId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                tableNum: newTableNum,
            }),
        })
        .then(response => response.json())
        .then(data => {
            // Reload the page or update the table data as needed
            location.reload();
        })
        .catch(error => {
            console.error(error);
        });
    }
    </script>
    

<!--<script>
document.addEventListener("DOMContentLoaded", function () {
    var editModals = document.querySelectorAll('.btn[data-bs-toggle="modal"]');
    editModals.forEach(function (editModal) {
        editModal.addEventListener('click', function (event) {
            var tableId = event.target.getAttribute('data-table-id');
            var available = event.target.getAttribute('data-available');

            document.querySelector('#editTableId').value = tableId;
            document.querySelector('#editAvailable').value = available;
        });
    });
});

// Function to save changes in modal
function saveAvailability() {
    var tableId = document.querySelector('#editTableId').value;
    var newAvailability = document.querySelector('#editAvailable').value;

    fetch(`/tables/edit/${tableId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ available: newAvailability === 'true' }),
    })
    .then(response => response.json())
    .then(data => {
        // Reload the page or update the table data as needed
        location.reload();
    })
    .catch(error => {
        console.error(error);
    });
}
</script>-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-K9Y3mTPQpUhln7kwYMr9eY75Ry3bPj/4v34+WaMIBjv2Zc46Q88GoytEamCr4MycNlwssbbzS7Cznb5iqQJ8QA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>