<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carrito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainmenulayout.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<nav class="navbar navbar-dark bg-info">
    <div class="container">
    <a class="navbar-brand" href="index.html">
        <img src="../static/img/almacendecervezaslogo.png" width="200" height="100" alt="Logo" class="img-fluid">
    </a>
    <h1>Carrito de Pedidos</h1>
        </div>

</nav>

        </div>
        <div class="row">
            <div class="col-md-8">
                <ul id="cart-list" class="list-group">
                    <!-- Los elementos se agregarán dinámicamente aquí -->
                </ul>
            </div>
            
            <div class="col-md-4 mx-auto text-center" style="width: 550px;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Resumen de la Orden</h5>
                        <ul id="cart-list" class="list-group">
                            {% if order_details %}
                            {% for detail in order_details %}
                            <li class="list-group-item">
                                <span id="sPrice{{ detail.id_article }}" style="display: none;">{{ detail.article_price }}</span> {{ detail.article_name }} - c/ <span id="amount{{ detail.id_article }}">{{ detail.amount }}</span> - $<span id="orderPrice{{ detail.id_article}}">{{ detail.order_price }}</span>
                                
                                {% if detail.detail_state == 0 %}
                                    <span class="badge bg-secondary">Sin pedir</span>
                                    <button class="btn btn-sm btn-primary" onclick="decreaseQuantity('{{ detail.id_article }}')">-</button>
                                    <button class="btn btn-sm btn-primary" onclick="increaseQuantity('{{ detail.id_article }}')">+</button>
                                    <button class="btn btn-sm btn-danger" onclick="removeItem('{{ detail.id_article }}')">Quitar Pedido</button>
                                {% elif detail.detail_state == 1 %}
                                    <span class="badge bg-success" style="background-color: green;">Pedido</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                            {% else %}
                                <li class="list-group-item">No hay elementos en el carrito</li>
                            {% endif %}
                        </ul>
                        <strong><p class="card-text">Total: $<span id="total-price">{{ total_price }}</span></p></strong>
                        <button id="checkoutButton" class="btn btn-primary" onclick="checkout()">Realizar Pedidos</button>
                    </div>
                </div>
            </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

<script>
        const table_number = localStorage.getItem('table_number');
        console.log(table_number);
    function checkout() {
        // Realizar una solicitud al servidor para cambiar el estado detail_state a 1
        fetch('/mobile_cart/checkout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                table_num: '{{ table_num }}'  // Reemplaza esto por el valor correcto si es necesario
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                // Si la solicitud fue exitosa, recargar la página para actualizar el carrito
                window.location.reload();
            } else {
                // Si ocurrió un error, mostrar un mensaje de error al usuario
                alert('Error al realizar el pedido: ' + data.message);
            }
        })
        .catch(error => {
            // Si ocurrió un error en la solicitud, mostrar un mensaje de error al usuario
            console.error('Error:', error);
            alert('Error al realizar el pedido. Por favor, inténtelo de nuevo.');
        });
    }

// FUNCION PARA AUMENTAR LA CANTIDAD
function increaseQuantity(itemId) {
    const amountSpan = document.getElementById('amount' + itemId);
    const orderPriceSpan = document.getElementById('orderPrice' + itemId); // Cambiado de 'order-price' a 'orderPrice'
    const articlePriceSpan = document.getElementById('sPrice' + itemId);
    if (amountSpan && orderPriceSpan && articlePriceSpan) {
        let currentAmount = parseInt(amountSpan.textContent);
        let currentOrderPrice = parseInt(orderPriceSpan.textContent);
        let articlePrice = parseInt(articlePriceSpan.textContent);
        currentAmount++;
        currentOrderPrice = currentAmount* articlePrice;
        updateQuantityOnServer(itemId, currentAmount, amountSpan, currentOrderPrice, orderPriceSpan, articlePrice, articlePriceSpan);
    } else {
        console.error('Error: Los elementos span no se encontraron');
    }
}

// FUNCION PARA DISMINUIR LA CANTIDAD
function decreaseQuantity(itemId) {
    const amountSpan = document.getElementById('amount' + itemId);
    const orderPriceSpan = document.getElementById('orderPrice' + itemId); // Cambiado de 'order-price' a 'orderPrice'
    const articlePriceSpan = document.getElementById('sPrice' + itemId);
    if (amountSpan && orderPriceSpan && articlePriceSpan) {
        let currentAmount = parseInt(amountSpan.textContent);
        let currentOrderPrice = parseInt(orderPriceSpan.textContent);
        let articlePrice = parseInt(articlePriceSpan.textContent);
        if (currentAmount > 1) {
            currentAmount--;
            currentOrderPrice = currentAmount* articlePrice;
            updateQuantityOnServer(itemId, currentAmount, amountSpan, currentOrderPrice, orderPriceSpan, articlePrice, articlePriceSpan);
        }
    } else {
        console.error('Error: Los elementos span no se encontraron');
    }
}

// FUNCION PARA ACTUALIZAR LA CANTIDAD EN EL SERVIDOR
function updateQuantityOnServer(itemId, newAmount, amountSpan, newOrderPrice, orderPriceSpan) {
    // Realizar una solicitud al servidor para cambiar la cantidad del artículo
    fetch('/mobile_cart/change_amount', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            item_id: itemId,
            new_amount: newAmount,
            new_orderPrice: newOrderPrice, // Cambiado de neworderPrice a newOrderPrice
            table_num: localStorage.getItem('table_number')
        }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            // Actualizar visualmente la cantidad en la página
            amountSpan.textContent = newAmount;
            orderPriceSpan.textContent = newOrderPrice; // Cambiado de neworderPrice a newOrderPrice
            updateTotalPrice();
        } else {
            // Si ocurrió un error, mostrar un mensaje de error al usuario
            alert('Error al guardar los cambios de cantidad: ' + data.message);
        }
    })
    .catch(error => {
        // Si ocurrió un error en la solicitud, mostrar un mensaje de error al usuario
        console.error('Error:', error);
        alert('Error al guardar los cambios de cantidad. Por favor, inténtelo de nuevo.');
    });
}

// FUNCION PARA ACTUALIZAR EL PRECIO TOTAL
function updateTotalPrice() {
    let total = 0;
    const itemElements = document.querySelectorAll('[id^="orderPrice"]');
    itemElements.forEach((itemElement) => {
        total += parseFloat(itemElement.textContent);
    });
    const totalPriceSpan = document.getElementById('total-price');
    if (totalPriceSpan) {
        totalPriceSpan.textContent = total.toFixed(2); // Redondear el total a dos decimales
    }
}

//#####################################################################################################################################################################
//FUNCION PARA ELIMINAR EL PEDIDO
function removeItem(itemId) {
    // Obtener el número de mesa del localStorage

    // Verificar si el número de mesa está disponible
    if (!table_number) {
        alert('Número de mesa no especificado.');
        return;
    }

    // Solicitar confirmación al usuario antes de eliminar el artículo
    const confirmed = confirm('¿Está seguro de que desea eliminar este artículo del carrito?');
    if (!confirmed) {
        return; // Si el usuario cancela, salir de la función
    }

    // Realizar una solicitud al servidor para eliminar el artículo del carrito
    fetch('/mobile_cart/remove_item', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            item_id: itemId,
            table_num: table_number  // Incluir el número de mesa en los datos de la solicitud
        }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            // Si la solicitud fue exitosa, recargar la página para actualizar el carrito
            window.location.reload();
        } else {
            // Si ocurrió un error, mostrar un mensaje de error al usuario
            alert('Error al eliminar el artículo del carrito: ' + data.message);
        }
    })
    .catch(error => {
        // Si ocurrió un error en la solicitud, mostrar un mensaje de error al usuario
        console.error('Error:', error);
        alert('Error al eliminar el artículo del carrito. Por favor, inténtelo de nuevo.');
    });
}

</script>


</html>
